html, body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    background-color: lightsteelblue;
    text-align: right;
    padding: 5px 20px;
    color: white;    
}

.logoff{
    display: inline-block;
    border: 1px solid white;
    padding: 5px 10px;;
}

.logoff:hover{
    background-color: black;
    color: white;
    transition: 0.2s all;
    cursor: pointer;
}

