#container-detail {
    max-width: 390px;
    min-width: 350px;
    min-height: 422px;
    padding-bottom: 15px;
}

#content-os {
    text-align: left;
    padding: 15px 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 3px;
    display: none;
    transition: 1s all;
}

.text-view{
    font-size: 15px;
    margin: 7px;
}

#nomeCliente-view{
    font-size: 17px;
    font-weight: 600;
}

#login-view{
    display: inline-block;
    font-weight: 600;
}

#senha-view {
    display: inline-block;
}

#id-view{
    font-size: 10px;
    color: lightslategray
}

#container-buttons{
    text-align: right;
    padding: 0px 5px;
    display: none;
}

.view-buttons {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 16px;
    border-radius: 3px;
    margin: 0px 5px;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
}

.view-buttons:hover{
    cursor: pointer;
}

.view-buttons:active{
    position: relative;
    top: 1px;
    right: 1px;
}

#btn-edit{
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
    box-shadow: -1px 1px 2px black;
}

#btn-edit:hover{
    background-color: #2364da;
    border-color: #2364da
}

#btn-edit:active{
    box-shadow: none;
}

#btn-delete {
    border-color: cornflowerblue;
    color: cornflowerblue;
    box-shadow: -1px 1px 2px cornflowerblue;
    margin-right: 50%;
}

#btn-delete:hover{
    background-color: red;
    border-color: red;
    color: white;
    box-shadow: -1px 1px 2px black;
}

#btn-delete:active{
    box-shadow: none;
}

#nothing{
    margin: auto;
    color: lightslategrey;
    font-weight: 700;
    margin: 200px 10px;
    user-select: none;
}

#new-os{
    text-align: left;
    padding: 15px 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 3px;
    display: none;
    transition: 1s all;
    font-size: 12px;
}

.select-new-os{
    margin: 2px 0px 7px 0px;
    height: 20px;
    width: 300px;
    padding: 3px 5px;
    font-size: 14px; 
}

#newLogin{
    width: 80px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#newSenha{
    width: 80px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#newPlano{
    width: 80px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#newStatus{
    width: 80px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#newResponsavel{
    width: 212px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#btn-newOS{
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
    box-shadow: -1px 1px 2px black;
    margin-top: 5px;
    margin-left: 236px;
    font-size: 15px;
    font-weight: 600;
}
#btn-newOS:active{
    box-shadow: none;
}

h4 {
    margin: 3px 0px 3px 0px;
    text-align: center;
}